:root {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: #eee;
}

#game {
  user-select: none;
}

.game-container {
  margin: auto;
  width: 1000px;
  height: 1000px;
  max-width: 95vh;
  max-height: 95vh;
}

.cell {
  background: #fff;
}

.alive {
  background: #000;
}

.game-counter {
  text-align: right;
  width: 100%;
  max-width: 95vh;
  margin: auto;
}

.controls {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.controls-inner {
  width: 100%;
  max-width: 95vh;
  margin: auto;
}

.controls-inner:after {
  content: '';
  display: table;
  clear: both;
}

.controls button {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: rgb(0, 3, 38);
  border: 0;
  padding: 0;
  margin: 5px 10px 0 0;
  float: left;
}

.controls button g {
  fill: #f5f5f5;
}

.controls button:hover g {
  fill: #fff;
}

.controls button:active {
  transform: none;
  padding: 0;
  left: auto;
  right: auto;
}

.controls button:active g {
  fill: #ddd;
}

@media screen and (orientation: portrait) {
  .game-container {
    max-width: 95vw;
    max-height: 95vw;
  }
  .game-counter,
  .controls-inner {
    max-width: 95vw;
  }
}